:root {
  font-family: "Poppins";
  font-size: 16px;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;

  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --color-secondary: #ff8717;
  --color-secondary-light: #ff871726;
  --color-light-grey: #f8f8f8;
}

* {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: block;
  padding: 0;
  font-size: inherit;
  background-color: inherit;
  border: 0;
  cursor: pointer;
  font-family: inherit;
}
